<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios">
      <ion-title class="ion-text-capitalize">
       Tags
      </ion-title>
            <ion-buttons slot="start">
              <ion-back-button color="dark"></ion-back-button>
            </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <app-loading *ngIf="isLoading"></app-loading>

  <div class="tags">
    <h1>Tag Title</h1>
    <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
  </div>

</ion-content>
