<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios">
      <ion-title class="ion-text-capitalize">
        Details
      </ion-title>
            <ion-buttons slot="start">
              <ion-back-button color="dark"></ion-back-button>
            </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  

  <div class="details">

  <img >

  <ion-grid fixed>
    <ion-row>
        <ion-col size="4" class="col-icon">
        <ion-icon name="md-list" color="primary"></ion-icon>
        <p class="name">Sets</p>
        <p class="value">15</p>
        </ion-col>

        <ion-col size="4" class="col-icon">
          <ion-icon name="md-sync" color="primary"></ion-icon>
          <p class="name">Reps</p>
          <p class="value">8</p>
        </ion-col>

        <ion-col size="4" class="col-icon">
            <ion-icon name="md-stopwatch" color="primary"></ion-icon>
            <p class="name">Rest</p>
            <p class="value">30 Sec</p>
        </ion-col>
    </ion-row>
  </ion-grid>


    <div class="tags" (click)=toggleInfo()>
        <h1>Info</h1>
        <ion-icon [name]="isInfoHidden ? 'arrow-forward' : 'arrow-down'" color="primary" slot="end"></ion-icon>
      </div>
    
      <div class="animated fadeIn subinfo" [hidden]="isInfoHidden">
      <p class="title">Exercise Name</p>
      <p class="subtitle">Jumping Jacks</p>

      <p class="title">Level</p>
      <p class="subtitle">Noob</p>

      </div> 
    
      <div class="tags" (click)=toggleInstru()>
          <h1>Instructions</h1>
          <ion-icon [name]="isInstruHidden ? 'arrow-forward' : 'arrow-down'" color="primary" slot="end"></ion-icon>
        </div>
      
        <div class="animated fadeIn subinfo" [hidden]="isInstruHidden">
        <app-html [htmlcontent]="exercise.exercise_instructions"></app-html>
        </div> 


        <div class="tags" (click)=toggleTips()>
            <h1>Tips</h1>
            <ion-icon [name]="isTipsHidden ? 'arrow-forward' : 'arrow-down'" color="primary" slot="end"></ion-icon>
          </div>
        
          <div class="animated fadeIn subinfo" [hidden]="isTipsHidden">
          <app-html [htmlcontent]="exercise.exercise_tips"></app-html>
          </div> 

</div>


</ion-content>

<ion-footer mode="ios" no-border>
    <ion-button (click)="play()" class="primary ion-text-uppercase ion-text-bold" mode="ios" expand="block">
      Play Video
        <ion-icon slot="start" name="md-arrow-dropright-circle"></ion-icon>
    </ion-button>
  </ion-footer>
