<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios">
      <ion-title class="ion-text-capitalize">
        Quotes
      </ion-title>
      <ion-buttons slot="start">
          <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">



<ion-slides  mode="ios">
    <ion-slide class="slide" >
      <ion-card mode="ios" class="card">
        <ion-icon name="md-quote"></ion-icon>
        <h1>Quote Title</h1>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
