<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios">
      <ion-title class="ion-text-capitalize">
       Equipment
      </ion-title>
            <ion-buttons slot="start">
              <ion-back-button color="dark"></ion-back-button>
            </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  


  <ion-list lines="none" class="ion-padding-top">

  <ion-item  style="margin-bottom: 30px;">
      <ion-avatar slot="start">
        <img>
      </ion-avatar>
      <ion-label>Equipment Name</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
