<ion-header class="darkheader" mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
          <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
            <ion-button  slot="start">
              <ion-icon color="light" mode="md" [name]="icon"></ion-icon>
              </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
    <ion-grid class="ion-no-padding">
        <ion-row class="header-bg" [ngStyle]="{'height': innerHeight}">
          <div class="text">
          <p class="name">Workout Title</p>
          <p class="time">Workout Duration</p>
        </div>
        </ion-row>
        <ion-row class="cols">
          <ion-col size="6" class="ion-text-center">
            <p class="text">Goal</p>
            <p class="value">Goal Title</p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
              <p class="text">Level</p>
              <p class="value">Level Title</p>
            </ion-col>
        </ion-row>
      </ion-grid>

      <div class="days">

      <div *>
            <div class="tags" >
                <h1>Day (1,7)</h1>
                <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
            </div>
      </div>

    </div>

</ion-content>
